.searchBarWrapper
    display: flex
    align-items: center
    justify-content: center
    padding: 20px 20px

.searchIcon
   color: rgba(0,0,0,0.26)
   margin: 10px 10px 0 0

.searchBarWrapper input 
   font-size: 20px
   width: 500px

